.container {
  text-align: center;
  padding: 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.cardSide {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cardImage {
  border-radius: 8px;
}
.profilewrap {
  position: relative;
}
.profile {
  position: absolute;
  bottom: 270px;
  left: 100px;
}

.details {
  margin-top: -200px;
  text-align: center;
}

.name {
  margin-top: -90px;
  color: var(--primary);
  font-size: 20px;
  font-weight: 600;
}

.position {
  color: #1e293b;
  font-weight: 500;
  margin: 0.5rem 0;
}
